
#nbi-1::after             { content: "Download"; }
#nbi-2::after             { content: "Documentation"; }
/* #btn-subNavigation::after { content: "Documentation"; } */
#nbi-3::after             { content: "Developer"; }
#nbi-4::after             { content: "Support"; }
#nbi-5::after             { content: "Search"; }
/* #btn-searchBar::after     { content: "Search"; } */

@media (max-width: 700px)
{
    #nbi-1::after             { content: "OS"; }
    #nbi-2::after             { content: "Do"; }
    /* #btn-subNavigation::after { content: "Do"; } */
    #nbi-3::after             { content: "De"; }
    #nbi-4::after             { content: "Su"; }
    #nbi-5::after             { content: "Se"; }
    /* #btn-searchBar::after     { content: "Se"; } */
}
