
#nbi-1::after             { content: "Download"; }
#btn-subNavigation::after { content: "Documentation"; }
#nbi-3::after             { content: "Developer"; }
#nbi-4::after             { content: "Support"; }
#btn-searchBar::after     { content: "Search"; }

@media (max-width: 700px)
{
    #nbi-1::after             { content: "OS"; }
    #btn-subNavigation::after { content: "Do"; }
    #nbi-3::after             { content: "De"; }
    #nbi-4::after             { content: "Su"; }
    #btn-searchBar::after     { content: "Se"; }
}
