
#nbi-1::after             { content: "Download"; color: #FFFFFF!important;}
#nbi-2::after             { content: "Documentation"; color: #FFFFFF!important; }
/* #btn-subNavigation::after { content: "Documentation"; } */
#nbi-3::after             { content: "Developer"; color: #FFFFFF!important; }
#nbi-4::after             { content: "Support"; color: #FFFFFF!important; }
#nbi-5::after             { content: "Search"; color: #FFFFFF!important; }
/* #btn-searchBar::after     { content: "Search"; } */

@media (max-width: 700px)
{
    #nbi-1::after             { content: "OS"; color: #FFFFFF!important; }
    #nbi-2::after             { content: "Do"; color: #FFFFFF!important; }
    /* #btn-subNavigation::after { content: "Do"; } */
    #nbi-3::after             { content: "De"; color: #FFFFFF!important; }
    #nbi-4::after             { content: "Su"; color: #FFFFFF!important; }
    #nbi-5::after             { content: "Se"; color: #FFFFFF!important; }
    /* #btn-searchBar::after     { content: "Se"; } */
}
